body {
    background-color: antiquewhite;
}
.container_div {
    display: inline-grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}
.header-div {
    width: 100%;
    padding-left: 500px;
}

.header {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.form_div {
    padding-left: 200px;
    width: 100%;
}
#addRowForm {
    width: 100%;
}
.table_div {
    padding-left: 200px;
    width: 100%;
}

table {
width:80.8%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Add some space between the table and the inputs */
form {
    width: 70%;
}

/* Scrollable table body with fixed header */
tbody {
    display: block;
    /*    max-height: 400px;
*/ overflow-y: auto;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr {
    background-color: darkkhaki;
}

/* Make sure the table headers stay on top */
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
