body {
    background-color: antiquewhite;
}
.container_div{
}
.header-div {
    width: 100%;
    padding-left: 500px;
}

.header {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.form_div {
    width: 100%;
    padding-left: 300px;
}

#addRowForm {
    width: 100%;
}

.table_div {
    width: 100%;
    padding-left: 300px;
}

table {
    width: 83.9%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Add some space between the table and the inputs */
form {
    width: 100%;
}

/* Scrollable table body with fixed header */
tbody {
    display: block;
    /*    max-height: 400px;
*/ overflow-y: auto;
}

thead, tbody, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tr {
    background-color: darkkhaki;
}

/* Make sure the table headers stay on top */
thead {
    position: sticky;
    top: 0;
    z-index: 1;
}